# OSX
#
.DS_Store

# node.js
#
node_modules
npm-debug.log
yarn-error.log

# Android/IntelliJ
#
android/build/
android/gradle/
android/.idea
android/.gradle
android/local.properties
android/settings.gradle
android/gradlew
android/gradlew.bat
android/*.iml

# BUCK
buck-out/
\.buckd/
*.keystore
